# Exclude various Cache and Output folders

QtWebCache/
ScreenCap/

# Exclude PortableApps Installation

Documents/
PortableApps/
/Start.exe

# Exclude PHP Error logs

php_errors.log

# Exclude files created by running utilities

utilities/MUICacheView.cfg
utilities/OperaPassView.cfg